@model User;

@{
    ViewData["Title"] = "Conferma";
}

<div class="text-center">
    <h1>Conferma</h1>
    @if(Model != null){
        <table class="table">
            <tr>
                <td>Nome</td>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <td>Cognome</td>
                <td>@Model.Surname</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <td>Data di Nascita</td>
                <td>@Model.DateOfBirth</td>
            </tr>
            <tr>
                <td>Sesso</td>
                <td>@Model.Sex</td>
            </tr>
            <tr>
                <td>Password</td>
                <td>@Model.Password</td>
            </tr>
        </table>
    }else{
        <p></p>
    }
</div>